.page_inner_wrap{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.test_container .question_box_wrap{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 800px;
    line-height: 130%;
    white-space: pre-line;
}
.test_container .question_box_wrap_name{
    font-size: 20px;
    font-weight: 900;
}
.test_container .question_box{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.test_container .question_box_title{
    font-size: 17px;
    font-weight: 600;
}
.test_container .question_item_box_wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.test_container .question_item_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.test_container .question_q_reading_box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.test_container .question_q_reading{
    border: 3px solid #000000;
    padding: 16px;
}
.test_container .question_q_reading_box img{
    width: 100%;
    height: auto;
}
.test_container .q_img{
    width: 100%;
    height: auto;
}
.test_container .question_q_reading_box strong{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.test_container .question_q_reading_box .note_box{
    gap: 8px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.test_container .answer_box {
    display: flex;
    align-items: center;
}

.test_container .answer_box_4 {
    display: flex;
    gap: 3px;
    flex-direction: column;
}
.test_container .answer_box_wrap{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.test_container .answer_box_2{
    display: flex;
}
.test_container .question_item_wrap{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}
.test_container .answer_box_4 .question_item,
.test_container .answer_box_2 .question_item,
.test_container .answer_box .question_item{
    cursor: pointer;
    flex: 1;
}
.test_container .attach {
    text-align: right;
    font-size: 12px;
    padding: 10px 0;
    white-space: pre-wrap;
}