.main_container {
 background: #FFF5F8;
    height: 100%;
}

header{
    background: #FFF5F8;
}
.main_container .page_inner_wrap{
    gap: 50px;
}
.main_container .test_item_box{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.main_container .question_box_wrap{
    display: flex;
    flex-direction: column;
}
.main_container .question_box_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.main_container select{
    width: max-content;
    height: 21px;
}
.main_container .question_box_text{
    cursor: pointer;
    border-bottom: 1px solid #000000;
}
.main_container .question_box_text:hover{
    border-bottom: 1px solid #CF3E75;
    color: #CF3E75;
}