.main_container {
 background: #FFF5F8;
    height: 100%;
}

header{
    background: #FFF5F8;
}
.main_container .page_inner_wrap{
    gap: 50px;
}
.main_container .test_item_box{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.main_container .test_item_box a{
    cursor: pointer;
    border-bottom: 1px solid #000000;
}
.main_container .test_item_box a:hover{
    border-bottom: 1px solid #CF3E75;
    color: #CF3E75;
}